<template>

  <div class="contestConfig__container">
    <div class="contestConfig__title">Создать соревнование</div>

    <BaseForm
        :form-view="formView"
        :form-data="contestData"
        @payload-changed="formChangedHandler"
        class="contestConfig__form"
    />

    <BaseButton
        :color-type="'primary'"
        @click="updateContest"
        :disabled="buttonDisabled"
    >
      Создать
    </BaseButton>

  </div>

</template>

<script>

import BaseForm from '@qr/vue-kit/src/components/BaseForm'
import BaseButton from '@qr/vue-kit/src/components/BaseButton'

import router from "../router"


export default {

  name: 'ContestCreate',

  // Создать экземплар валидатора, который будет использоваться в текущем
  // представлении и его потомках http://vee-validate.logaretm.com/advanced.html#injection
  // eslint-disable-next-line @typescript-eslint/camelcase
  $_veeValidate: {
    validator: 'new',
  },

  components: {
    BaseForm,
    BaseButton,
  },


  data() {
    return {
      contestData: {},
    }
  },

  computed: {
    dictionary() {
      return this.$store.getters.getDictionaries
    },
    formView() {
      return {
        fields: [
          {
            labelPosition: 'top',
            typeOfControl: 'string',
            name: 'title',
            title: 'Наименование',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'string',
            name: 'description',
            title: 'Описание',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'string',
            name: 'address',
            title: 'Адрес',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'dateRange',
            name: 'dateStart',
            title: 'Начало',
            specificControlProps: {
              pickerType: 'date',
            }
          },
          {
            labelPosition: 'top',
            typeOfControl: 'dateRange',
            name: 'dateEnd',
            title: 'Окончание',
            specificControlProps: {
              pickerType: 'date',
            }
          },
          {
            labelPosition: 'top',
            typeOfControl: 'multiselect',
            name: 'directions',
            title: 'Направление',
            specificControlProps: {
              multiple: true,
              incomingOptions: this.dictionary.directions,
              formatFieldTitle: (value) => value.name
            }
          },
          {
            labelPosition: 'top',
            typeOfControl: 'multiselect',
            name: 'profiles',
            title: 'Профиль',
            specificControlProps: {
              multiple: true,
              incomingOptions: this.dictionary.profiles,
              formatFieldTitle: (value) => value.name
            }
          },
          {
            labelPosition: 'top',
            typeOfControl: 'multiselect',
            name: 'educationLevels',
            title: 'Образование',
            specificControlProps: {
              incomingOptions: this.dictionary.educationLevels,
              formatFieldTitle: (value) => value.name
            }
          },
          {
            labelPosition: 'top',
            typeOfControl: 'multiselect',
            name: 'goals',
            title: 'Цели',
            specificControlProps: {
              multiple: true,
              incomingOptions: this.dictionary.goals,
              formatFieldTitle: (value) => value.name
            }
          },
        ],
      }
    },

    buttonDisabled() {
      return this.errors.items.length > 0
    }
  },

  methods: {

    formChangedHandler(formData) {
      this.contestData = {
        ...this.contestData,
        ...formData
      }
    },

    async updateContest() {
      await this.$store.dispatch('createContest', this.contestData)

      // Добавлено для отключения уведомления роутера об избыточности адреса.
      // Роутер предполагает, что мы перегружаем историю, если пушим в него адрес, который предшествовал
      // данной странице и хочет чтобы мы использовали router.go(-1)
      // https://forum.vuejs.org/t/error-avoided-redundant-navigation-to-current-location/103226
      await router.push('/contest').catch(()=>{})
    }
  },

}

</script>

<style lang="stylus" scoped>

.contestConfig__container {
  padding 24px 26px
}

.contestConfig__title {
  margin-bottom 20px
  color: #135FD2
  font-weight: bold
  font-size: 24px
  line-height: 28px
}
.contestConfig__form {
  width 50%
  margin-bottom 40px
}
</style>
