<template>
  <div>
    <BaseSpinnerScreen v-if="isLoading"/>
    <div
        class="contest_container"
        v-else-if="!isLoading && tableView"
    >
      <h1>Список соревнований</h1>

      <BaseButton
          @click="addNewContest"
          class="contest_button"
      >
        Добавить соревнование
      </BaseButton>

      <BaseTable
          :view="tableView"
          :items="tableData"
          class="contest_table"
          :get-row-href="getRowHref"
      />

      <paginate
          v-if="pagesCount > 1"
          :page-count="pagesCount"
          :prev-text="'Пред.'"
          :next-text="'След.'"
          :active-class="'contest_pagination_item_active'"
          :container-class="'contest_pagination'"
          :page-class="'contest_pagination_item'"
          :prev-link-class="'contest_pagination_item'"
          :next-link-class="'contest_pagination_item'"
          :click-handler="changeCurrentPage"
      />

    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import router from "@/router"

import axios from 'axios'

// @ts-ignore
import BaseButton from '@qr/vue-kit/src/components/BaseButton'

// @ts-ignore
import BaseTable from '@qr/vue-kit/src/components/BaseTable'

// @ts-ignore
import BaseSpinnerScreen from '@/components/BaseSpinnerScreen'

import {
  CONTEST_CREATE,
  CONTEST_UPDATE,
} from "@/router/route-paths"

export default Vue.extend({
  name: '',

  components: {
    BaseTable,
    BaseButton,
    BaseSpinnerScreen
  },

  created: async function() {
    await this.getContestData()
  },

  data: () => ({
    currentPage: 1,
    stepSize: 15,
    isLoading: false,
    contestData: {},
  }),

  methods: {
    getRowHref(item) {
      return `#${this.$route.path}/${item._id}`
    },

    changeCurrentPage(currentPage){
      this.$data.currentPage = currentPage
    },

    async addNewContest() {
      await router.push(CONTEST_CREATE)
    },

    async getContestData() {
      try {

        this.isLoading = true

        let data = await axios({
          method: 'post',
          url: '/api/contest/getSome',
          data: {
            limit: this.stepSize,
            offset: (this.currentPage - 1) * this.stepSize
          }
        }).then(res => res.data)

        this.contestData = data

      }
      catch (e) {
        console.log(e)
      }
      finally {
        this.isLoading = false
      }
    }

  },

  computed: {

    dictionary() {
      return this.$store.getters.getDictionaries
    },

    tableView() {
      return {
        columns: [
          {
            name: 'title',
            title: 'Наименование',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'description',
            title: 'Описание',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'address',
            title: 'Адрес',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'dateStart',
            title: 'Дата начала',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'dateEnd',
            title: 'Дата окончания',
            typeOfCell: 'string',
            minWidth: 100,
          },
        ],
        itemActions: [
        {
          name: 'updateDocument',
          textContent: 'Редактировать',
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          handler: async (
              vueComponent,
              model
          ) => {
            await vueComponent.$store.dispatch('replaceCurrentContest', model)
            await router.push(CONTEST_UPDATE)
          }
        },
        {
          name: 'sendPush',
          textContent: 'Отправить уведомления',
          // eslint-disable-next-line @typescript-eslint/no-unused-vars
          handler: async (
              vueComponent,
              model
          ) => {
            await vueComponent.$store.dispatch('sendPush', model._id)
          }
        },
        {
          textContent: 'Удалить мероприятие',
          confirmation: {
            title: 'Удаление мероприятия',
            text: `Данное действие удалит мероприятие.`
          },
          handler: async (
              vueComponent,
              model
          ) => {
            await vueComponent.$store.dispatch('removeContest', model._id)
          }
        }
      ],
    }
    },

    pagesCount() {
      return Math.ceil(this.$data.contestData.count/this.$data.stepSize)
    },

    tableData() {
      return this.$data.contestData.contests ? this.$data.contestData.contests : []
    },

  }
})
</script>

<style lang="stylus">
@import "../styles/Variables"

.contest_container
  padding: 10px 10px
  display: flex
  flex-direction: column
  height: 100%

.contest_table
  display: flex
  flex: 1 1 auto
  margin-bottom: 40px

.contest_button
  width: 200px
  margin: 20px 0

.contest_pagination
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 50%


.contest_pagination_item
  display: flex
  justify-content: center
  align-items: center
  height: 40px
  min-width: 80px
  color: black
  background-color: $geyser
  border-radius: 6px

  &:hover
    background-color: $halfBaked
    color: white

.contest_pagination_item_active
  color: white
  background-color: $commonBlue

</style>
