<template>

  <div class="contestConfig__container">

    <BaseSpinnerScreen
        v-if="isLoading"
    />

    <div v-else>
      <div
          class="contest__detail_backButton"
          @click="goBack"
      >
        <Chevron class="contest__detail_backButton_icon"/>
      </div>
      <div
          class="contestConfig__title"
      >
        {{ this.contestData.title ? this.contestData.title : 'Соревнование без названия' }}
      </div>
      <div
          class="contest__detail_descriptionContainer"
      >
      <span>
        <h3>Адрес проведения:</h3>
        {{ this.contestData.address }}
      </span>

        <span>
        <h3>Дата начала:</h3>
        {{ dateStart }}
      </span>

        <span>
        <h3>Дата окончания:</h3>
        {{ dateEnd }}
      </span>

        <span>
        <h3>Описание:</h3>
        {{ this.contestData.description }}
      </span>

        <span>
          <h3>Образование:</h3>
          {{
            this.contestData.educationLevels &&
            this.contestData.educationLevels.length > 0
                ? (this.contestData.educationLevels.map(item => this.dictionaries[item])).join(', ')
                : 'Нет данных'
          }}
      </span>

        <span>
          <h3>Профиль:</h3>
          {{
            this.contestData.profiles &&
            this.contestData.profiles.length > 0
                ? this.dictionaries[this.contestData.profiles]
                : 'Нет данных'
          }}
      </span>

        <span>
          <h3>Направленность:</h3>
          {{
            this.contestData.directions &&
            this.contestData.directions.length > 0
                ? (this.contestData.directions.map(item => this.dictionaries[item])).join(', ')
                : 'Нет данных'
          }}
      </span>

        <span>
        <h3>Достижения:</h3>
          {{
            this.contestData.goals &&
            this.contestData.goals.length > 0
                ? (this.contestData.goals.map(item => this.dictionaries[item])).join(', ')
                : 'Нет данных'
          }}
      </span>
      </div>
    </div>

    <h1 class="contestConfig__title">Студенты, подходящие по списку</h1>
    <BaseTable
        :view="tableView"
        :items="studentsData"
    />
  </div>

</template>

<script>

import router from "../router"

import axios from 'axios'

import {
  format
} from 'date-fns'

import {
  ru
} from "date-fns/locale"

// @ts-ignore
import BaseSpinnerScreen from '@/components/BaseSpinnerScreen'

//@ts-ignore
import BaseTable from '@qr/vue-kit/src/components/BaseTable'

import Chevron from '@/assets/svg/chevron.svg'

export default {

  name: 'ContestDetail',

  components: {
    BaseSpinnerScreen,
    Chevron,
    BaseTable
  },

  async mounted() {
    try {
      this.isLoading = true

      this.contestData = await axios.post('/api/contest/getOne', {
        _id: this.$route.params.id
      }).then(res => res.data)

      this.studentsData = (
          await axios(`/api/contest/getRelevantUsersByContest/${this.$route.params.id}`)
              .then(res => res.data)
      )
          .map(item => {
            return {
              firstName: item.firstName,
              lastName: item.lastName,
              phone: item.phone && '',
              goals: (item.goals.map(item => this.dictionaries[item])).join(', '),
              directions:(item.directions.map(item => this.dictionaries[item])).join(', '),
              profiles: this.dictionaries[item.profiles],
              educationLevels: (item.educationLevels.map(item => this.dictionaries[item])).join(', '),
            }
          })

    }
    finally {

      setTimeout(()=> {
        this.isLoading = false
      }, 700)
    }

  },


  data() {
    return {
      contestData: {},
      studentsData: [],
      isLoading: false
    }
  },

  computed: {

    dateStart() {
      return this.contestData.dateStart
          ? format(new Date(this.contestData.dateStart), 'do MMM yyyy kk:mm', {
            locale: ru
          })
          : ''
    },

    dateEnd() {
      return this.contestData.dateEnd
          ? format(new Date(this.contestData.dateEnd), 'do MMM yyyy kk:mm', {
            locale: ru
          })
          : ''
    },

    dictionaries() {
      return Object.keys(this.$store.getters.getDictionaries).reduce((acc, item) => {

        this.$store.getters.getDictionaries[item].forEach(element => {
          acc[element._id] = element.name
        })

        return acc
      }, {})
    },

    tableView() {
      return {
        columns: [
          {
            name: 'firstName',
            title: 'Фамилия',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'lastName',
            title: 'Имя',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'phone',
            title: 'Телефон',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'goals',
            title: 'Достижения',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'directions',
            title: 'Достижения',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'profiles',
            title: 'Профиль',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'educationLevels',
            title: 'Образование',
            typeOfCell: 'string',
            minWidth: 100,
          },
        ],
      }
    },

  },

  methods: {

    formChangedHandler(formData) {
      this.contestData = {
        ...this.contestData,
        ...formData
      }
    },

    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/contest')
    },

    async updateContest() {
      await this.$store.dispatch('createContest', this.contestData)

      // Добавлено для отключения уведомления роутера об избыточности адреса.
      // Роутер предполагает, что мы перегружаем историю, если пушим в него адрес, который предшествовал
      // данной странице и хочет чтобы мы использовали router.go(-1)
      // https://forum.vuejs.org/t/error-avoided-redundant-navigation-to-current-location/103226
      await router.push('/contest').catch(()=>{})
    }
  },

}

</script>

<style lang="stylus" scoped>

.contestConfig__container {
  padding 24px 26px
  display flex
  flex-direction column
}

.contestConfig__title {
  margin-bottom 20px
  color: #135FD2
  font-weight: bold
  font-size: 24px
  line-height: 28px
}


.contest__detail_descriptionContainer
  display flex
  flex-direction column
  font-size 18px

.contest__detail_backButton
  width 40px
  height 40px
  cursor pointer

.contest__detail_backButton_icon
  width 20px
  height 40px
  -webkit-transform: rotate(90deg)

span
  margin-bottom 20px
  width 50%
  &:last-child
    margin-bottom 100px
</style>
