<template>
    <div class="stub">

        <h1
            class="stub__header"
            v-text="header"
        />

        <div
            v-for="(error, index) in errors"
            :key="index"
            class="stub__error"
            v-text="error.message"
        />

    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name: 'Errors',

    components: {},

    data() {
        return {
            header: 'При работе приложения произошли критические ошибки:',
        }
    },

    computed: {
        errors() {
            return this.$store.getters.applicationErrors
        },
    },
})
</script>

<style lang="stylus">

    .stub
        position absolute
        left 0
        width 100%
        height 100vh
        display flex
        flex-direction column
        align-items center
        padding 20px
        background #2C8CCC
        color #ffffff

        & > *
            max-width 900px


    .stub__header
        margin-top 50px
        font-size 25px
        font-weight normal


    .stub__error
        margin-top 20px
        font-size 20px
        text-align center

</style>
