<template>
  <div id="login">

    <img src="../assets/logo.png">
    
    <h2>Логин</h2>
    <input />

    <h2>Пароль</h2>
    <input type="password"/>

    <BaseButton
        @click="goToMain"
    >
      Войти
    </BaseButton>

  </div>
</template>

<script>
import Vue from 'vue'

import BaseButton from '@qr/vue-kit/src/components/BaseButton'
import router from "@/router";

export default Vue.extend({
  name: 'Login',

  components: {
    BaseButton
  },

  data: () => ({

  }),

  computed: {},

  methods: {
    goToMain() {
      router.push('main')
    }
  },

})
</script>

<style lang="stylus">
@import '../../node_modules/@qr/vue-kit/src/styles/reset.styl'
</style>

<style lang="stylus" scoped>
@import '../../node_modules/@qr/vue-kit/src/styles/mixins/utils.styl'
@import '../../node_modules/@qr/vue-kit/src/styles/mixins/tooltip.styl'

#login
  display flex
  background-color #1B2734
  height 100vh
  flex-direction column
  justify-content center
  align-items center
  globalTooltipStyles()

  & /deep/
    defaultTextStyles()

input
  margin-bottom 30px

h2
  color whitesmoke

img
  margin-bottom 30px

</style>
