<template>
  <div id="main">
    <div class="screen_container">

      <NavBar class="navBar"/>

      <router-view class="MainArea"/>


    </div>
    <modals-container/>
  </div>
</template>

<script>
import Vue from 'vue'

import NavBar from '../components/NavBar'

export default Vue.extend({
  name: 'Main',

  components: {
    NavBar
  },

  data: () => ({

  }),

  computed: {},

  methods: {},
})
</script>

<style lang="stylus">
@import '../../node_modules/@qr/vue-kit/src/styles/reset.styl'
</style>

<style lang="stylus" scoped>
@import '../../node_modules/@qr/vue-kit/src/styles/mixins/utils.styl'
@import '../../node_modules/@qr/vue-kit/src/styles/mixins/tooltip.styl'

#main
  display flex
  flex-direction column
  align-items center
  globalTooltipStyles()

  & /deep/
    defaultTextStyles()

.screen_container
  display: flex
  width: 100vw
  height: 100vh
  font-size: $mainFontSize

.navBar
  flex: 0 0 auto

.MainArea
  flex: 1 1 auto
  height: 100%
  overflow-y: scroll

</style>
