<template>

  <div class="studentConfig__container">
    <div class="studentConfig__title">Добавление участника</div>

    <BaseForm
        :form-view="formView"
        :form-data="studentData"
        @payload-changed="formChangedHandler"
        class="studentConfig__form"
    />

    <BaseButton
        :color-type="'primary'"
        @click="createStudent"
        :disabled="buttonDisabled"
    >
      Добавить
    </BaseButton>

  </div>

</template>

<script>

import BaseForm from '@qr/vue-kit/src/components/BaseForm'
import BaseButton from '@qr/vue-kit/src/components/BaseButton'

import router from "../router"


export default {

  name: 'StudentCreate',

  // Создать экземплар валидатора, который будет использоваться в текущем
  // представлении и его потомках http://vee-validate.logaretm.com/advanced.html#injection
  // eslint-disable-next-line @typescript-eslint/camelcase
  $_veeValidate: {
    validator: 'new',
  },

  components: {
    BaseForm,
    BaseButton,
  },


  data() {
    return {
      studentData: {},
    }
  },

  computed: {
    dictionary() {
      return this.$store.getters.getDictionaries
    },
    formView() {
      return {
        fields: [
          {
            labelPosition: 'top',
            typeOfControl: 'string',
            name: 'lastName',
            title: 'Фамилия',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'string',
            name: 'firstName',
            title: 'Имя',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'phone',
            name: 'phone',
            title: 'Телефон',
            validator: 'required',
          },
          {
            labelPosition: 'top',
            typeOfControl: 'dateRange',
            name: 'birthDate',
            title: 'Дата рождения',
            specificControlProps: {
              pickerType: 'date',
            },
            validator: 'required',
          },
        ],
      }
    },

    buttonDisabled() {
      return this.errors.items.length > 0
    }
  },

  methods: {

    formChangedHandler(formData) {
      this.studentData = formData

    },

    async createStudent() {
      await this.$store.dispatch('createStudent', this.studentData)

      // Добавлено для отключения уведомления роутера об избыточности адреса.
      // Роутер предполагает, что мы перегружаем историю, если пушим в него адрес, который предшествовал
      // данной странице и хочет чтобы мы использовали router.go(-1)
      // https://forum.vuejs.org/t/error-avoided-redundant-navigation-to-current-location/103226
      await router.push('/students').catch(()=>{})
    }
  },

}

</script>

<style lang="stylus" scoped>

.studentConfig__container {
  padding 24px 26px
}

.studentConfig__title {
  margin-bottom 20px
  color: #135FD2
  font-weight: bold
  font-size: 24px
  line-height: 28px
}
.studentConfig__form {
  max-width 50%
  margin-bottom 50px
}
</style>
