<template>

  <div class="student__detail_container">

    <BaseSpinnerScreen
        v-if="isLoading"
    />
    <div v-else>
      <div
          class="student__detail_backButton"
          @click="goBack"
      >
        <Chevron class="student__detail_backButton_icon"/>
      </div>
      <div
          class="student__detail_title"
      >
        {{
          this.studentData.name || this.studentData.lastName
              ? (this.studentData.firstName || '')  + " " + (this.studentData.lastName || '')
              : 'Нет имени'
        }}
      </div>
      <div
          class="student__detail_descriptionContainer"
      >

        <span>
          <h3>Дата рождения:</h3>
          {{ birthDate }}
        </span>

        <span>
          <h3>Телефон:</h3>
          {{
              this.studentData.phone
                  ? '+' + this.studentData.phone
                  : 'Нет данных'
            }}
        </span>

        <span>
          <h3>Образование:</h3>
          {{
              this.studentData.educationLevels &&
              this.studentData.educationLevels.length > 0
                  ? (this.studentData.educationLevels.map(item => this.dictionaries[item])).join(', ')
                  : 'Нет данных'
          }}
      </span>

        <span>
          <h3>Направленность:</h3>
          {{
            this.studentData.directions &&
            this.studentData.directions.length > 0
                ? (this.studentData.directions.map(item => this.dictionaries[item])).join(', ')
                : 'Нет данных'
          }}
      </span>

        <span>
          <h3>Профиль:</h3>
          {{
              this.studentData.profiles &&
              this.studentData.profiles.length > 0
                  ? this.dictionaries[this.studentData.profiles]
                  : 'Нет данных'
          }}
      </span>

        <span>
        <h3>Достижения:</h3>
          {{
            this.studentData.goals &&
            this.studentData.goals.length > 0
                ? (this.studentData.goals.map(item => this.dictionaries[item])).join(', ')
                : 'Нет данных'
          }}
      </span>
      </div>
    </div>

    <h1 class="student__detail_title">Подходящие мероприятия</h1>
    <BaseTable
        :view="tableView"
        :items="contestsData"
    />

  </div>

</template>

<script>

import router from "../router"

import axios from 'axios'

import {
  format
} from 'date-fns'

import {
  ru
} from "date-fns/locale"

// @ts-ignore
import BaseSpinnerScreen from '@/components/BaseSpinnerScreen'

//@ts-ignore
import BaseTable from '@qr/vue-kit/src/components/BaseTable'

import Chevron from '@/assets/svg/chevron.svg'

export default {

  name: 'ContestDetail',

  components: {
    BaseSpinnerScreen,
    BaseTable,
    Chevron
  },

  async mounted() {
    this.isLoading = true
    try {
        this.studentData = await axios.post('/api/student/getOne', {
          _id: this.$route.params.id
        }).then(res => res.data)
    }
    finally {
      setTimeout(()=> {
        this.isLoading = false
      }, 700)
    }

    this.contestsData = (
        await axios(`api/mobile/getRelevantContestsByUser/${this.$route.params.id}`)
            .then(res => res.data)
    )
        .map(item => {
          return {
            title: item.title || '',
            description: item.description || '',
            address: item.address || '',
            dateStart: item.dateStart || '',
            dateEnd: item.dateEnd || '',
          }
        })

  },


  data() {
    return {
      studentData: {},
      contestsData: [],
      isLoading: false
    }
  },

  computed: {
    birthDate() {
      return this.studentData.birthDate
          ? format(new Date(this.studentData.birthDate), 'do MMM yyyy kk:mm', {
            locale: ru
          })
          : ''
    },

    dictionaries() {
      return Object.keys(this.$store.getters.getDictionaries).reduce((acc, item) => {

        this.$store.getters.getDictionaries[item].forEach(element => {
          acc[element._id] = element.name
        })

        return acc
      }, {})
    },

    tableView() {
      return {
        columns: [
          {
            name: 'title',
            title: 'Наименование',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'description',
            title: 'Описание',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'address',
            title: 'Адрес',
            typeOfCell: 'string',
            minWidth: 50,
          },
          {
            name: 'dateStart',
            title: 'Старт',
            typeOfCell: 'string',
            minWidth: 100,
          },
          {
            name: 'dateEnd',
            title: 'Окончание',
            typeOfCell: 'string',
            minWidth: 100,
          },
        ],
      }
    },

  },

  methods: {

    formChangedHandler(formData) {
      this.studentData = {
        ...this.studentData,
        ...formData
      }
    },

    goBack() {
      window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/student')
    },

    async updateContest() {
      await this.$store.dispatch('createContest', this.studentData)

      // Добавлено для отключения уведомления роутера об избыточности адреса.
      // Роутер предполагает, что мы перегружаем историю, если пушим в него адрес, который предшествовал
      // данной странице и хочет чтобы мы использовали router.go(-1)
      // https://forum.vuejs.org/t/error-avoided-redundant-navigation-to-current-location/103226
      await router.push('/student').catch(()=>{})
    }
  },

}

</script>

<style lang="stylus" scoped>

.student__detail_container {
  padding 24px 26px
  display flex
  flex-direction column
}

.student__detail_title {
  margin-bottom 20px
  color: #135FD2
  font-weight: bold
  font-size: 24px
  line-height: 28px
}

.student__detail_descriptionContainer
  display flex
  flex-direction column
  font-size 18px

.student__detail_backButton
  width 40px
  height 40px
  cursor pointer

.student__detail_backButton_icon
  width 20px
  height 40px
  -webkit-transform: rotate(90deg)

span
  margin-bottom 20px
  width 50%
  &:last-child
    margin-bottom 100px
</style>
