<template>
  <div>
    <BaseSpinnerScreen v-if="isLoading"/>

    <div
      class="students_container"
    >

      <h1>Список участников</h1>

      <BaseButton
          @click="addNewStudent"
          class="students_button"
      >
        Добавить участника
      </BaseButton>
      <BaseTable
          :view="tableView"
          :items="tableData"
          class="students_table"
          :get-row-href="getRowHref"
      />

      <paginate
          v-if="pagesCount > 1"
          :page-count="pagesCount"
          :prev-text="'Пред.'"
          :next-text="'След.'"
          :active-class="'students_pagination_item_active'"
          :container-class="'students_pagination'"
          :page-class="'students_pagination_item'"
          :prev-link-class="'students_pagination_item'"
          :next-link-class="'students_pagination_item'"
          :click-handler="changeCurrentPage"
      />


    </div>
  </div>
</template>

<script>
import Vue from 'vue'

import router from "@/router"

import axios from 'axios'
import {
  format
} from 'date-fns'

import {
  ru
} from "date-fns/locale"

// @ts-ignore
import BaseButton from '@qr/vue-kit/src/components/BaseButton'

// @ts-ignore
import BaseTable from '@qr/vue-kit/src/components/BaseTable'

// @ts-ignore
import BaseSpinnerScreen from '@/components/BaseSpinnerScreen'

import {
  STUDENT_CREATE,
  STUDENT_UPDATE
} from "@/router/route-paths"

export default Vue.extend({
    name: 'Students',

  components: {
      BaseTable,
      BaseButton,
      BaseSpinnerScreen
    },

  created: async function() {
    await this.getStudentsData()
  },

  data: () => ({
      currentPage: 1,
      stepSize: 15,
      isLoading: false,
      studentsData: {},
    }),

  methods: {

    changeCurrentPage(currentPage){
      this.$data.currentPage = currentPage
    },

    getRowHref(item) {
      return `#${this.$route.path}/${item._id}`
    },

    async addNewStudent() {
      await router.push(STUDENT_CREATE)
    },

    async getStudentsData() {
      try {

        this.isLoading = true

        this.studentsData = await axios({
          method: 'post',
          url: '/api/student/getSome',
          data: {
            limit: this.stepSize,
            offset: (this.currentPage - 1) * this.stepSize
          }
        }).then(res => res.data)

      }
      catch (e) {
        console.log(e)
      }
      finally {
        this.isLoading = false
      }
    }

  },

    computed: {

      pagesCount() {

        return Math.ceil(this.$data.studentsData.count/this.$data.stepSize)
      },

      tableData() {
        return this.$data.studentsData.students ? this.$data.studentsData.students : []
      },

      dictionaries() {
        return this.$store.getters.getDictionaries
      },

      tableView() {

          return {
            columns: [
              {
                name: 'lastName',
                title: 'Фамилия',
                typeOfCell: 'string',
                minWidth: 150,
              },
              {
                name: 'firstName',
                title: 'Имя',
                typeOfCell: 'string',
                minWidth: 100,
              },
              {
                name: 'birthDate',
                title: 'Дата рождения',
                typeOfCell: 'string',
                minWidth: 100,
                formatCellText({data}) {
                  return format(new Date(data), 'do MMM yyyy', {
                    locale: ru
                  })
                },
              },
            ],
            itemActions: [
              {
                name: 'updateDocument',
                textContent: 'Редактировать',
                // eslint-disable-next-line @typescript-eslint/no-unused-vars
                handler: async (
                    vueComponent,
                    model
                ) => {
                  await vueComponent.$store.dispatch('replaceCurrentStudent', model)
                  console.log(model)
                  await router.push(STUDENT_UPDATE)
                }
              },
            ],
          }
      },
    }
})
</script>

<style lang="stylus">
@import "../styles/Variables"

.students_container
    padding: 10px 10px
    display: flex
    flex-direction: column
    height: 100%

.students_table
  display: flex
  flex: 1 1 auto
  margin-bottom: 40px

.students_pagination
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 50%


.students_pagination_item
  display: flex
  justify-content: center
  align-items: center
  height: 40px
  min-width: 80px
  color: black
  background-color: $geyser
  border-radius: 6px

  &:hover
    background-color: $halfBaked
    color: white

.students_pagination_item_active
  color: white
  background-color: $commonBlue

.students_button
  width: 200px
  margin: 20px 0

</style>
