<template>
    <div class="spinner_container">
        <div class="spinner"/>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'


export default Vue.extend({
    name: 'BaseSpinnerScreen',
})
</script>

<style scoped lang="stylus">
@import "../../node_modules/@qr/vue-kit/src/styles/mixins/spinner.styl"
@import "../../node_modules/@qr/vue-kit/src/styles/variables/spinner.styl"

.spinner
    spinner($spinnerDefaultSize)
    position fixed
    top 45%
    left 50%

.spinner_container
    position fixed
    z-index 1000
    background-color #fff
    opacity .6
    width 100%
    height 100%


</style>
