<template>
    <div
        class="navBar"
        :class="{
            '__collapsed': isNavBarCollapsed,
            '__opened': !isNavBarCollapsed,
        }"
    >

        <div class="navBar_infoWrapper">
            <div
                @click="collapseNavBar"
            >
                <Arrow
                    class="navBar___collapseButton"
                    :class="{
                        '__rotate': isNavBarCollapsed,
                    }"
                />
            </div>
            <div
                v-if="isNavBarCollapsed"
            >
                <div
                    v-for="item in navigateView"
                    :key="item.index"
                    class="navBar___navBar_shortLink_container"
                    :class="{
                        '__collapsed': isNavBarCollapsed,
                        '__opened': !isNavBarCollapsed,
                    }"
                >
                    <router-link
                        :to="item.path"
                        class="navBar_shortLink"
                    >
                        <Component
                            :is="item.icon"
                            class="NavIcon"
                        />
                    </router-link>
                </div>
            </div>
        </div>

        <div
            class="navBar___linkPad"
            :class="{
                '__hidden': isNavBarCollapsed,
            }"
        >
            <div
                v-for="item in navigateView"
                :key="item.desc"
            >
                <router-link
                    :to="item.path"
                    class="navBar__link"
                >
                    <Component
                        :is="item.icon"
                        class="navBar__icon"
                    />
                  <div class="navBar__link_title">
                    {{ item.desc }}
                  </div>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts">

import Vue from 'vue'

import {
  STUDENTS,
  CONTEST
} from '@/router/route-paths'

// @ts-ignore
import Arrow from '../assets/svg/chevron.svg'

// @ts-ignore
import Point from '../assets/svg/point.svg'

// @ts-ignore
import Accept from '../assets/svg/accept.svg'

export default Vue.extend({
    name: 'NavBar',

    components: {
      Arrow,
      Point,
      Accept
    },

    data() {
        return {
            title: '',
            isDropDownShown: false,
            navigateView: [
                {
                  path: STUDENTS,
                  desc: 'Участники',
                  icon: Accept,
                },
                {
                  path: CONTEST,
                  desc: 'Соревнования',
                  icon: Point,
                },
            ],

            isNavBarCollapsed: false,
        }
    },
    computed: {},

    methods: {
        collapseNavBar() {
            this.isNavBarCollapsed = !this.isNavBarCollapsed
        },
    },
})
</script>

<style scoped lang="stylus">
@import "../styles/Variables"

.navBar
    flex: 0 0 auto
    display: flex
    flex-direction: row
    width: $navBarWidth
    height: 100%
    transition: width 0.1s

    &.__collapsed
        width: 40px
    &.__opened
        width: $navBarWidth


.navBar___linkPad
    padding: 35px 10px 0 10px
    width: 100%
    background-color: #F2F5F9

    &.__hidden
        display: none


.navBar_infoWrapper
    display: flex
    flex-direction: column
    height: 100%
    width: 50px
    background-color: $halfBaked


.navBar___collapseButton
    margin: 10px 0 0 10px
    width: 20px
    height: 20px
    fill: white
    -webkit-transform: rotate(90deg)
    cursor: pointer
    &:hover
        fill: $slateGray
    &.__rotate
        -webkit-transform: rotate(-90deg)


.navBar__link
    display: flex
    justify-content: flex-start
    align-items: center
    height: 36px
    padding-right: 10px
    color: #182B4C
    font-size: $middleFontSize
    text-decoration: none
    cursor: pointer

    &:hover
        background: $slateGray
        border-radius: 4px


.navBar__link_title
  padding-left: 5px

.navBar__icon
  display: flex
  width: 30px
  fill: $halfBaked


.navBar_shortLink
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 36px
    color: #182B4C
    font-size: $middleFontSize
    text-decoration: none
    cursor: pointer

    &:hover
        background: #E3E7EC
        border-radius: 4px


navBar_shortLink_container
    &.__collapsed
        animation: appear 0.1s
        @-webkit-keyframes appear
            0%
                margin-left: 100px
            100%
                margin-right: 0px

</style>
