<template>
    <div id="app">
      <router-view/>
      <modals-container/>
    </div>
</template>

<script>
import Vue from 'vue'

import NavBar from '@/components/NavBar'

export default Vue.extend({
    name: 'QRApp',

  async created() {
    await this.$store.dispatch('getDictionaryList')
  },

  components: {
      NavBar
    },

    data: () => ({

    }),

    computed: {},

    methods: {},

})
</script>

<style lang="stylus">
@import '../node_modules/@qr/vue-kit/src/styles/reset.styl'
</style>

<style lang="stylus" scoped>
@import '../node_modules/@qr/vue-kit/src/styles/mixins/utils.styl'
@import '../node_modules/@qr/vue-kit/src/styles/mixins/tooltip.styl'

#app
    display flex
    flex-direction column
    globalTooltipStyles()

    & /deep/
        defaultTextStyles()

</style>
